# PHẦN 1: THỐNG KÊ MÔ TẢ

## Bài toán 1

### Nhiệm vụ 1: Khám phá dữ liệu COVID

1. Tính mean, median, mode, variance, standard deviation, range, percentile, quartile, interquartile range
(IQR) sử dụng thư viện numpy và stats trên tập dữ liệu COVID.

In [ ]:
import numpy as np
import pandas as pd
from scipy import stats

In [3]:
# Load the .csv into a dataframe using read_csv
covid_data = pd.read_csv("owid-covid-data.csv")
covid_data = covid_data[['iso_code','continent',
'location','date','total_cases','new_cases']]

In [5]:
# Take a quick look at the data
covid_data.head(5)

  iso_code continent     location        date  total_cases  new_cases
0      AFG      Asia  Afghanistan  2020-01-05          0.0        0.0
1      AFG      Asia  Afghanistan  2020-01-06          0.0        0.0
2      AFG      Asia  Afghanistan  2020-01-07          0.0        0.0
3      AFG      Asia  Afghanistan  2020-01-08          0.0        0.0
4      AFG      Asia  Afghanistan  2020-01-09          0.0        0.0

In [6]:
covid_data.dtypes

iso_code        object
continent       object
location        object
date            object
total_cases    float64
new_cases      float64
dtype: object

In [7]:
covid_data.shape

(429435, 6)

In [11]:
# Get the mean of the data
data_mean = np.mean(covid_data["new_cases"])
data_mean

np.float64(8017.359933586731)

In [13]:
# Get the median of the data
data_median = np.median(covid_data["new_cases"])
data_median

np.float64(nan)

In [16]:
# Get the mode of the data
data_mode = stats.mode(covid_data["new_cases"])
data_mode

ModeResult(mode=np.float64(0.0), count=np.int64(368385))

In [17]:
# Obtain the variance of the data
data_variance = np.var(covid_data["new_cases"])
data_variance

52745822411.38847

In [18]:
# Obtain the standard deviation of the data
data_sd = np.std(covid_data["new_cases"])
data_sd

229664.58675944898

In [19]:
# Compute the maximum and minimum values of the data
data_max = np.max(covid_data["new_cases"])
data_min = np.min(covid_data["new_cases"])

In [20]:
data_max

44236227.0

In [21]:
data_min

0.0

In [22]:
# Obtain the 60th percentile of the data
data_percentile = np.percentile(covid_data["new_cases"],60)
data_percentile

np.float64(nan)

In [23]:
# Obtain the quartiles of the data
data_quartile = np.quantile(covid_data["new_cases"],0.75)
data_quartile

np.float64(nan)

In [24]:
# Get the IQR of the data
data_IQR = stats.iqr(covid_data["new_cases"])
data_IQR

np.float64(nan)

### Nhiệm vụ 2: Khám phá và xử lý dữ liệu Marketing Campaign

1. Import thư viện và nạp dữ liệu vào notebook

In [31]:
import pandas as pd
marketing_data = pd.read_csv("marketing_campaign.csv", sep='\t')
marketing_data = marketing_data[['ID','Year_Birth', 'Education',
'Marital_Status','Income','Kidhome', 'Teenhome',
'Dt_Customer', 'Recency','NumStorePurchases',
'NumWebVisitsMonth']]

2. Loại bỏ dữ liệu trùng lặp

In [32]:
marketing_data.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,NumStorePurchases,NumWebVisitsMonth
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,4,7
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,2,5
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,10,4
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,4,6
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,6,5

In [33]:
# Remove duplicates across the columns in our dataset:
marketing_data_duplicate = marketing_data.drop_duplicates()

In [34]:
# Delete a specified row at index value 1:
marketing_data.drop(labels=[1], axis=0)

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,NumStorePurchases,NumWebVisitsMonth
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,4,7
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,10,4
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,4,6
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,6,5
5,7446,1967,Master,Together,62513.0,0,1,09-09-2013,16,10,6
...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Graduation,Married,61223.0,0,1,13-06-2013,46,4,5
2236,4001,1946,PhD,Together,64014.0,2,1,10-06-2014,56,5,7
2237,7270,1981,Graduation,Divorced,56981.0,0,0,25-01-2014,91,13,6
2238,8235,1956,Master,Together,69245.0,0,1,24-01-2014,8,10,3
2239,9405,1954,PhD,Married,52869.0,1,1,15-10-2012,40,4,7

In [35]:
# Delete a single column
marketing_data.drop(labels=['Year_Birth'], axis=1)

,ID,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,NumStorePurchases,NumWebVisitsMonth
0,5524,Graduation,Single,58138.0,0,0,04-09-2012,58,4,7
1,2174,Graduation,Single,46344.0,1,1,08-03-2014,38,2,5
2,4141,Graduation,Together,71613.0,0,0,21-08-2013,26,10,4
3,6182,Graduation,Together,26646.0,1,0,10-02-2014,26,4,6
4,5324,PhD,Married,58293.0,1,0,19-01-2014,94,6,5
...,...,...,...,...,...,...,...,...,...,...
2235,10870,Graduation,Married,61223.0,0,1,13-06-2013,46,4,5
2236,4001,PhD,Together,64014.0,2,1,10-06-2014,56,5,7
2237,7270,Graduation,Divorced,56981.0,0,0,25-01-2014,91,13,6
2238,8235,Master,Together,69245.0,0,1,24-01-2014,8,10,3
2239,9405,PhD,Married,52869.0,1,1,15-10-2012,40,4,7

3. Thay thế dữ liệu và thay đổi định dạng của dữ liệu

In [37]:
# Replace the values in Teenhome with has teen and has no teen
marketing_data['Teenhome_replaced'] = marketing_data['Teenhome'].replace([0,1,2],['has no teen','has teen','has teen'])

In [38]:
# Fill NAs in the Income column
marketing_data['Income'] = marketing_data['Income'].fillna(0)

In [39]:
# Change the data type of the Income column from float to int
marketing_data['Income_changed'] = marketing_data['Income'].astype(int)

4. Xử lý dữ liệu thiếu

In [40]:
# Check for missing values using the isnull and sum methods
marketing_data.isnull().sum()

ID                   0
Year_Birth           0
Education            0
Marital_Status       0
Income               0
Kidhome              0
Teenhome             0
Dt_Customer          0
Recency              0
NumStorePurchases    0
NumWebVisitsMonth    0
Teenhome_replaced    0
Income_changed       0
dtype: int64

In [41]:
# Drop missing values using the dropna method
marketing_data_withoutna = marketing_data.dropna(how = 'any')
marketing_data_withoutna.shape

(2240, 13)

## Bài thực hành 1

Thực hiện thống kê mô tả trên tập dữ liệu về phân loại chất lượng rượu đỏ.
Dữ liệu lấy tại https://www.kaggle.com/code/eisgandar/red-wine-quality-eda-classification

1. Import thư viện và nạp dữ liệu vào notebook

In [42]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Đọc dữ liệu
df = pd.read_csv('winequality-red.csv', sep=',')

In [44]:
# 1. THÔNG TIN CƠ BẢN VỀ DỮ LIỆU
print("\n1. THÔNG TIN CƠ BẢN VỀ DỮ LIỆU")
print("-" * 40)
print(f"Số lượng mẫu: {df.shape[0]}")
print(f"Số thuộc tính: {df.shape[1]}")
print(f"\nKiểu dữ liệu:")
print(df.dtypes)
print(f"\nGiá trị thiếu: {df.isnull().sum().sum()}")
print(f"Dòng trùng lặp: {df.duplicated().sum()}")

1. THÔNG TIN CƠ BẢN VỀ DỮ LIỆU
----------------------------------------
Số lượng mẫu: 1599
Số thuộc tính: 12

Kiểu dữ liệu:
fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
dtype: object

Giá trị thiếu: 0
Dòng trùng lặp: 240

In [45]:
# 2. THỐNG KÊ MÔ TẢ TẤT CẢ BIẾN
print("\n\n2. THỐNG KÊ MÔ TẢ TẤT CẢ BIẾN")
print("-" * 40)
desc_stats = df.describe()
print(desc_stats.round(3))

2. THỐNG KÊ MÔ TẢ TẤT CẢ BIẾN
----------------------------------------
       fixed acidity  volatile acidity  citric acid  residual sugar  \
count       1599.000          1599.000     1599.000        1599.000
mean           8.320             0.528        0.271           2.539
std            1.741             0.179        0.195           1.410
min            4.600             0.120        0.000           0.900
25%            7.100             0.390        0.090           1.900
50%            7.900             0.520        0.260           2.200
75%            9.200             0.640        0.420           2.600
max           15.900             1.580        1.000          15.500

       chlorides  free sulfur dioxide  total sulfur dioxide   density  \
count   1599.000             1599.000              1599.000  1599.000
mean       0.087               15.875                46.468     0.997
std        0.047               10.460                32.895     0.002
min        0.012                1.000                 6.000     0.990
25%        0.070                7.000                22.000     0.996
50%        0.079               14.000                38.000     0.997
75%        0.090               21.000                62.000     0.998
max        0.611               72.000               289.000     1.004

             pH  sulphates   alcohol   quality
count  1599.000   1599.000  1599.000  1599.000
mean      3.311      0.658    10.423     5.636
std       0.154      0.170     1.066     0.808
min       2.740      0.330     8.400     3.000
25%       3.210      0.550     9.500     5.000
50%       3.310      0.620    10.200     6.000
75%       3.400      0.730    11.100     6.000
max       4.010      2.000    14.900     8.000

In [46]:
# 3. PHÂN TÍCH BIẾN CHẤT LƯỢNG
print("\n\n3. PHÂN TÍCH BIẾN CHẤT LƯỢNG (QUALITY)")
print("-" * 40)
quality_stats = df['quality'].value_counts().sort_index()
print("Phân phối chất lượng:")
for quality, count in quality_stats.items():
    percentage = (count / len(df)) * 100
    print(f"Chất lượng {quality}: {count} mẫu ({percentage:.1f}%)")

print(f"\nThống kê chất lượng:")
print(f"Mean: {df['quality'].mean():.3f}")
print(f"Median: {df['quality'].median()}")
print(f"Mode: {df['quality'].mode()[0]}")
print(f"Std: {df['quality'].std():.3f}")
print(f"Min: {df['quality'].min()}, Max: {df['quality'].max()}")

3. PHÂN TÍCH BIẾN CHẤT LƯỢNG (QUALITY)
----------------------------------------
Phân phối chất lượng:
Chất lượng 3: 10 mẫu (0.6%)
Chất lượng 4: 53 mẫu (3.3%)
Chất lượng 5: 681 mẫu (42.6%)
Chất lượng 6: 638 mẫu (39.9%)
Chất lượng 7: 199 mẫu (12.4%)
Chất lượng 8: 18 mẫu (1.1%)

Thống kê chất lượng:
Mean: 5.636
Median: 6.0
Mode: 5
Std: 0.808
Min: 3, Max: 8

In [47]:
# 4. TƯƠNG QUAN VỚI CHẤT LƯỢNG
print("\n\n4. TƯƠNG QUAN VỚI CHẤT LƯỢNG")
print("-" * 40)
correlation_matrix = df.corr()
quality_corr = correlation_matrix['quality'].sort_values(ascending=False)
print("Tương quan với chất lượng (giảm dần):")
for feature, corr in quality_corr.items():
    print(f"{feature:20}: {corr:.3f}")

4. TƯƠNG QUAN VỚI CHẤT LƯỢNG
----------------------------------------
Tương quan với chất lượng (giảm dần):
quality             : 1.000
alcohol             : 0.476
sulphates           : 0.251
citric acid         : 0.226
fixed acidity       : 0.124
residual sugar      : 0.014
free sulfur dioxide : -0.051
pH                  : -0.058
chlorides           : -0.129
density             : -0.175
total sulfur dioxide: -0.185
volatile acidity    : -0.391

In [48]:
# 5. PHÂN TÍCH THEO NHÓM CHẤT LƯỢNG
print("\n\n5. PHÂN TÍCH THEO NHÓM CHẤT LƯỢNG")
print("-" * 40)

# Phân loại chất lượng
df['quality_category'] = pd.cut(df['quality'], 
                              bins=[0, 4, 6, 10], 
                              labels=['Thấp (3-4)', 'Trung bình (5-6)', 'Cao (7-8)'])

quality_group_stats = df.groupby('quality_category').agg({
    'alcohol': ['mean', 'std'],
    'volatile acidity': ['mean', 'std'],
    'citric acid': ['mean', 'std'],
    'sulphates': ['mean', 'std']
}).round(3)

print(quality_group_stats)

5. PHÂN TÍCH THEO NHÓM CHẤT LƯỢNG
----------------------------------------
                 alcohol        volatile acidity        citric acid         \
                    mean    std             mean    std        mean    std
quality_category
Thấp (3-4)        10.216  0.918            0.724  0.248       0.174  0.207
Trung bình (5-6)  10.253  0.972            0.539  0.168       0.258  0.188
Cao (7-8)         11.518  0.998            0.406  0.145       0.376  0.194

                 sulphates
                      mean    std
quality_category
Thấp (3-4)           0.592  0.224
Trung bình (5-6)     0.647  0.167
Cao (7-8)            0.743  0.134

C:\Users\boeot\AppData\Local\Temp\ipykernel_12748\1973197504.py:10: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  quality_group_stats = df.groupby('quality_category').agg({

In [49]:
# 6. PHÁT HIỆN NGOẠI LAI
print("\n\n6. PHÁT HIỆN NGOẠI LAI")
print("-" * 40)

def detect_outliers(column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = df[(df[column] < lower_bound) | (df[column] > upper_bound)]
    return len(outliers)

print("Số ngoại lai theo từng biến:")
for column in df.select_dtypes(include=[np.number]).columns:
    if column != 'quality_category':
        outliers_count = detect_outliers(column)
        percentage = (outliers_count / len(df)) * 100
        print(f"{column:20}: {outliers_count:3d} ngoại lai ({percentage:.1f}%)")

6. PHÁT HIỆN NGOẠI LAI
----------------------------------------
Số ngoại lai theo từng biến:
fixed acidity       :  49 ngoại lai (3.1%)
volatile acidity    :  19 ngoại lai (1.2%)
citric acid         :   1 ngoại lai (0.1%)
residual sugar      : 155 ngoại lai (9.7%)
chlorides           : 112 ngoại lai (7.0%)
free sulfur dioxide :  30 ngoại lai (1.9%)
total sulfur dioxide:  55 ngoại lai (3.4%)
density             :  45 ngoại lai (2.8%)
pH                  :  35 ngoại lai (2.2%)
sulphates           :  59 ngoại lai (3.7%)
alcohol             :  13 ngoại lai (0.8%)
quality             :  28 ngoại lai (1.8%)

In [50]:
# 7. TÓM TẮT KẾT QUẢ
print("\n\n7. TÓM TẮT PHÁT HIỆN CHÍNH")
print("-" * 40)
print("✓ Chất lượng chủ yếu tập trung ở mức 5-6 (83% mẫu)")
print("✓ Alcohol có tương quan dương mạnh nhất với chất lượng (+0.476)")
print("✓ Volatile acidity có tương quan âm mạnh nhất với chất lượng (-0.391)")
print("✓ Rượu chất lượng cao thường có:")
print("  - Nồng độ cồn cao hơn (11.5% so với 9.8%)")
print("  - Acid dễ bay hơi thấp hơn (0.40 so với 0.72)") 
print("  - Hàm lượng acid citric cao hơn (0.32 so với 0.17)")
print("  - Sulphates cao hơn (0.74 so với 0.53)")
print(f"✓ Có {df.duplicated().sum()} dòng trùng lặp")
print("✓ Chlorides và total sulfur dioxide có nhiều ngoại lai nhất")

7. TÓM TẮT PHÁT HIỆN CHÍNH
----------------------------------------
✓ Chất lượng chủ yếu tập trung ở mức 5-6 (83% mẫu)
✓ Alcohol có tương quan dương mạnh nhất với chất lượng (+0.476)
✓ Volatile acidity có tương quan âm mạnh nhất với chất lượng (-0.391)
✓ Rượu chất lượng cao thường có:
  - Nồng độ cồn cao hơn (11.5% so với 9.8%)
  - Acid dễ bay hơi thấp hơn (0.40 so với 0.72)
  - Hàm lượng acid citric cao hơn (0.32 so với 0.17)
  - Sulphates cao hơn (0.74 so với 0.53)
✓ Có 240 dòng trùng lặp
✓ Chlorides và total sulfur dioxide có nhiều ngoại lai nhất

## Bài thực hành 2

Thực hiện thống kê mô tả trên tập dữ liệu về bệnh tiểu đường. Dữ liệu lấy tại
https://www.kaggle.com/code/vincentlugat/pima-indians-diabetes-eda-prediction-0-906

In [52]:
# Import thư viện
import pandas as pd
import numpy as np

# Đọc dữ liệu
df = pd.read_csv('diabetes.csv')
print("Dữ liệu ban đầu:")
print(df.head())

Dữ liệu ban đầu:
   Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0            6      148             72             35        0  33.6
1            1       85             66             29        0  26.6
2            8      183             64              0        0  23.3
3            1       89             66             23       94  28.1
4            0      137             40             35      168  43.1

   DiabetesPedigreeFunction  Age  Outcome
0                     0.627   50        1
1                     0.351   31        0
2                     0.672   32        1
3                     0.167   21        0
4                     2.288   33        1

In [53]:
# Thông tin cơ bản về dataset
print("\nThông tin dataset:")
print(f"Số lượng mẫu: {df.shape[0]}")
print(f"Số lượng thuộc tính: {df.shape[1]}")

Thông tin dataset:
Số lượng mẫu: 768
Số lượng thuộc tính: 9

In [54]:
# Kiểm tra kiểu dữ liệu
print("\nKiểu dữ liệu:")
print(df.dtypes)

Kiểu dữ liệu:
Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

In [55]:
# Kiểm tra giá trị null
print("\nGiá trị null:")
print(df.isnull().sum())

Giá trị null:
Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [64]:
# Thống kê mô tả cho các biến số
print("\nThống kê mô tả chi tiết:")
desc = df.describe()
print(desc)
print("→ NHẬN XÉT QUAN TRỌNG:")
print("- Pregnancies: 0-17 lần mang thai, trung bình 3.85")
print("- Glucose: Có giá trị 0 (5 cases) - cần xem xét vì glucose không thể bằng 0")
print("- BloodPressure: Có 35 giá trị 0 - bất thường")
print("- SkinThickness: 227 giá trị 0 (29.56%) - RẤT NHIỀU missing data")
print("- Insulin: 374 giá trị 0 (48.7%) - GẦN MỘT NỬA là missing")
print("- BMI: 11 giá trị 0 - bất thường")

Thống kê mô tả chi tiết:
       Pregnancies     Glucose  BloodPressure  SkinThickness     Insulin  \
count   768.000000  768.000000     768.000000     768.000000  768.000000
mean      3.845052  120.894531      69.105469      20.536458   79.799479
std       3.369578   31.972618      19.355807      15.952218  115.244002
min       0.000000    0.000000       0.000000       0.000000    0.000000
25%       1.000000   99.000000      62.000000       0.000000    0.000000
50%       3.000000  117.000000      72.000000      23.000000   30.500000
75%       6.000000  140.250000      80.000000      32.000000  127.250000
max      17.000000  199.000000     122.000000      99.000000  846.000000

              BMI  DiabetesPedigreeFunction         Age     Outcome
count  768.000000                768.000000  768.000000  768.000000
mean    31.992578                  0.471876   33.240885    0.348958
std      7.884160                  0.331329   11.760232    0.476951
min      0.000000                  0.078000   21.000000    0.000000
25%     27.300000                  0.243750   24.000000    0.000000
50%     32.000000                  0.372500   29.000000    0.000000
75%     36.600000                  0.626250   41.000000    1.000000
max     67.100000                  2.420000   81.000000    1.000000
→ NHẬN XÉT QUAN TRỌNG:
- Pregnancies: 0-17 lần mang thai, trung bình 3.85
- Glucose: Có giá trị 0 (5 cases) - cần xem xét vì glucose không thể bằng 0
- BloodPressure: Có 35 giá trị 0 - bất thường
- SkinThickness: 227 giá trị 0 (29.56%) - RẤT NHIỀU missing data
- Insulin: 374 giá trị 0 (48.7%) - GẦN MỘT NỬA là missing
- BMI: 11 giá trị 0 - bất thường

In [57]:
# Phân phối biến mục tiêu
print("\nPhân phối biến Outcome:")
outcome_counts = df['Outcome'].value_counts()
print(outcome_counts)
print(f"\nTỷ lệ:")
print(outcome_counts / len(df) * 100)

Phân phối biến Outcome:
Outcome
0    500
1    268
Name: count, dtype: int64

Tỷ lệ:
Outcome
0    65.104167
1    34.895833
Name: count, dtype: float64

In [65]:
# Kiểm tra giá trị 0 (có thể là missing values)
print("\nPHÂN TÍCH GIÁ TRỊ 0 - CÓ THỂ LÀ MISSING DATA:")
zero_counts = {}
for col in ['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI']:
    zero_counts[col] = (df[col] == 0).sum()
    print(f"{col}: {zero_counts[col]} ({zero_counts[col]/len(df)*100:.2f}%)")
    
print("→ KẾT LUẬN: Insulin và SkinThickness có tỷ lệ missing data RẤT CAO")
print("→ ĐỀ XUẤT: Cần impute các giá trị 0 này trước khi modeling")

PHÂN TÍCH GIÁ TRỊ 0 - CÓ THỂ LÀ MISSING DATA:
Glucose: 5 (0.65%)
BloodPressure: 35 (4.56%)
SkinThickness: 227 (29.56%)
Insulin: 374 (48.70%)
BMI: 11 (1.43%)
→ KẾT LUẬN: Insulin và SkinThickness có tỷ lệ missing data RẤT CAO
→ ĐỀ XUẤT: Cần impute các giá trị 0 này trước khi modeling

In [66]:
# Phân tích theo nhóm Outcome
print("\nSO SÁNH ĐẶC ĐIỂM THEO NHÓM BỆNH:")
grouped = df.groupby('Outcome').mean()
print(grouped.round(2))
print("→ NHẬN XÉT QUAN TRỌNG:")
print("- Nhóm mắc bệnh có: Glucose CAO HƠN (141 vs 110)")
print("- Nhóm mắc bệnh có: BMI CAO HƠN (35.1 vs 30.3) - béo phì")
print("- Nhóm mắc bệnh có: Tuổi CAO HƠN (37.1 vs 31.2)")
print("- Nhóm mắc bệnh có: Số lần mang thai NHIỀU HƠN (4.87 vs 3.3)")

SO SÁNH ĐẶC ĐIỂM THEO NHÓM BỆNH:
         Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin    BMI  \
Outcome
0               3.30   109.98          68.18          19.66    68.79  30.30
1               4.87   141.26          70.82          22.16   100.34  35.14

         DiabetesPedigreeFunction    Age
Outcome
0                            0.43  31.19
1                            0.55  37.07
→ NHẬN XÉT QUAN TRỌNG:
- Nhóm mắc bệnh có: Glucose CAO HƠN (141 vs 110)
- Nhóm mắc bệnh có: BMI CAO HƠN (35.1 vs 30.3) - béo phì
- Nhóm mắc bệnh có: Tuổi CAO HƠN (37.1 vs 31.2)
- Nhóm mắc bệnh có: Số lần mang thai NHIỀU HƠN (4.87 vs 3.3)

In [67]:
# Tương quan giữa các biến
print("\nMA TRẬN TƯƠNG QUAN VỚI OUTCOME:")
correlations = df.corr()['Outcome'].sort_values(ascending=False)
print(correlations.round(4))
print("→ KẾT LUẬN: Glucose có tương quan MẠNH NHẤT với bệnh tiểu đường (0.4666)")
print("→ BMI và Pregnancies cũng có tương quan đáng kể")
print("→ BloodPressure và SkinThickness có tương quan RẤT THẤP")

MA TRẬN TƯƠNG QUAN VỚI OUTCOME:
Outcome                     1.0000
Glucose                     0.4666
BMI                         0.2927
Age                         0.2384
Pregnancies                 0.2219
DiabetesPedigreeFunction    0.1738
Insulin                     0.1305
SkinThickness               0.0748
BloodPressure               0.0651
Name: Outcome, dtype: float64
→ KẾT LUẬN: Glucose có tương quan MẠNH NHẤT với bệnh tiểu đường (0.4666)
→ BMI và Pregnancies cũng có tương quan đáng kể
→ BloodPressure và SkinThickness có tương quan RẤT THẤP

In [61]:
# Phân phối tuổi
print("\nThống kê tuổi:")
print(f"Tuổi trung bình: {df['Age'].mean():.2f}")
print(f"Tuổi trẻ nhất: {df['Age'].min()}")
print(f"Tuổi lớn nhất: {df['Age'].max()}")
print(f"Độ lệch chuẩn tuổi: {df['Age'].std():.2f}")

Thống kê tuổi:
Tuổi trung bình: 33.24
Tuổi trẻ nhất: 21
Tuổi lớn nhất: 81
Độ lệch chuẩn tuổi: 11.76

In [62]:
# Phân tích Glucose - chỉ số quan trọng cho tiểu đường
print("\nPhân tích Glucose:")
glucose_stats = df['Glucose'].describe()
print(glucose_stats)
print(f"\nSố bệnh nhân có Glucose > 140: {(df['Glucose'] > 140).sum()}")
print(f"Số bệnh nhân có Glucose = 0: {(df['Glucose'] == 0).sum()}")

Phân tích Glucose:
count    768.000000
mean     120.894531
std       31.972618
min        0.000000
25%       99.000000
50%      117.000000
75%      140.250000
max      199.000000
Name: Glucose, dtype: float64

Số bệnh nhân có Glucose > 140: 192
Số bệnh nhân có Glucose = 0: 5

In [71]:
# Phân tích BMI chi tiết
print("\nPHÂN TÍCH CHỈ SỐ BMI:")
bmi_stats = df['BMI'].describe()
print(bmi_stats)
print(f"\nPHÂN LOẠI BMI THEO WHO:")
print(f"Thiếu cân (BMI < 18.5): {(df['BMI'] < 18.5).sum()} người")
print(f"Bình thường (18.5-24.9): {((df['BMI'] >= 18.5) & (df['BMI'] < 25)).sum()} người")
print(f"Thừa cân (25-29.9): {((df['BMI'] >= 25) & (df['BMI'] < 30)).sum()} người")
print(f"Béo phì (BMI >= 30): {(df['BMI'] >= 30).sum()} người")
print("→ NHẬN XÉT: ĐA SỐ bệnh nhân thuộc nhóm BÉO PHÌ (472/768)")

PHÂN TÍCH CHỈ SỐ BMI:
count    768.000000
mean      31.992578
std        7.884160
min        0.000000
25%       27.300000
50%       32.000000
75%       36.600000
max       67.100000
Name: BMI, dtype: float64

PHÂN LOẠI BMI THEO WHO:
Thiếu cân (BMI < 18.5): 15 người
Bình thường (18.5-24.9): 102 người
Thừa cân (25-29.9): 179 người
Béo phì (BMI >= 30): 472 người
→ NHẬN XÉT: ĐA SỐ bệnh nhân thuộc nhóm BÉO PHÌ (472/768)

In [72]:
# Tổng kết
print("\n" + "="*60)
print("TỔNG KẾT PHÂN TÍCH DATASET DIABETES")
print("="*60)
print("✓ ĐIỂM MẠNH: Dữ liệu sạch, không null, nhiều mẫu")
print("✗ VẤN ĐỀ: Rất nhiều missing data (đặc biệt Insulin 48.7%)")
print("⚠️ CẢNH BÁO: Dataset imbalance (65/35)")
print("🎯 BIẾN QUAN TRỌNG: Glucose, BMI, Pregnancies")
print("💡 ĐỀ XUẤT: Impute missing values, xử lý imbalance, focus trên biến quan trọng")

============================================================
TỔNG KẾT PHÂN TÍCH DATASET DIABETES
============================================================
✓ ĐIỂM MẠNH: Dữ liệu sạch, không null, nhiều mẫu
✗ VẤN ĐỀ: Rất nhiều missing data (đặc biệt Insulin 48.7%)
⚠️ CẢNH BÁO: Dataset imbalance (65/35)
🎯 BIẾN QUAN TRỌNG: Glucose, BMI, Pregnancies
💡 ĐỀ XUẤT: Impute missing values, xử lý imbalance, focus trên biến quan trọng